@use "../helpers/variables" as *;
@use "../helpers/global";
@use "../components/inputs";
@use "../components/header";

@media (min-width: 480px) {
  .container_page {
    width: 95%;
    margin: auto;
  }
}

@media (min-width: 768px) {
  .container_page {
    width: 90%;
    margin: auto;
  }
}
